<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seience.havelook.dao.CategoryMapper">
	<resultMap id="BaseResultMap" type="seience.havelook.pojo.Category">
		<id column="category_id" jdbcType="INTEGER" property="category_id" />
		<result column="category_name" jdbcType="VARCHAR" property="category_name" />
	</resultMap>
	<sql id="Base_Column_List">
		category_id, category_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from category
		where category_id = #{category_id,jdbcType=INTEGER}
	</select>
	<!-- List<Category> selectCategorys(); -->
	<select id="selectCategorys" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from category
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from category
		where category_id = #{category_id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="seience.havelook.pojo.Category">
		insert into category (category_id, category_name)
		values (#{category_id,jdbcType=INTEGER}, #{category_name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="seience.havelook.pojo.Category">
		insert into category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id != null">
				category_id,
			</if>
			<if test="category_name != null">
				category_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="category_id != null">
				#{category_id,jdbcType=INTEGER},
			</if>
			<if test="category_name != null">
				#{category_name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="seience.havelook.pojo.Category">
		update category
		<set>
			<if test="category_name != null">
				category_name = #{category_name,jdbcType=VARCHAR},
			</if>
		</set>
		where category_id = #{category_id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="seience.havelook.pojo.Category">
		update category
		set category_name = #{category_name,jdbcType=VARCHAR}
		where category_id = #{category_id,jdbcType=INTEGER}
	</update>
</mapper>